In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
df=pd.read_csv("Data.csv", encoding='unicode_escape')
df.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

In [3]:
#df.isnull().sum()
#df['Label'].astype(int)

In [4]:
df.shape

(4262, 27)

#### drop the null values of target column 
     note>> null values of independent column dosen't effect much on prediction so we can ignore that

In [5]:
data= df[df["Label"].notna()]
data.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

we saw that some string values are there in our label column that will effect our accuracy so lets drop them

In [6]:
data.shape
data['Label']=data['Label'].apply(str)

<ipython-input-6-705d04395ad6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Label']=data['Label'].apply(str)

In [7]:
#data.shape
#data.dtypes

In [8]:
data = data[data['Label'].apply(lambda x: str(x).isdigit())]
data.shape

(4101, 27)

### split data

In [9]:
data.Date[1]

'2000-01-04'

In [10]:
train_data= data[data['Date']<'2015-01-01']
test_data= data[data['Date']>'2014-12-31']

we are not changing date column into datetime series because we dont need it further for this prediction

In [11]:
train_feature= train_data.iloc[:,2:27]
#train_target= train_data['Label']

our objective is to make paragraph of these sentences for that we have to lower case them and remove punctuation

In [12]:
train_feature.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

C:\Users\HP\miniconda3\lib\site-packages\pandas\core\frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [13]:
## lower case
for i in train_feature.columns:   
    train_feature[i]=train_feature[i].str.lower()

<ipython-input-13-b293252ded8a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_feature[i]=train_feature[i].str.lower()

In [14]:
train_feature.head(2)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,a hindrance to operations extracts from the...,scorecard,hughes instant hit buoys blues,jack gets his skates on at ice cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,derby raise a glass to strupar s debut double,southgate strikes leeds pay the penalty,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl s successor drawn into scandal,the difference between men and women,sara denver nurse turned solicitor,diana s landmine crusade put tories in a panic,yeltsin s resignation caught opposition flat f...,russian roulette,sold out,recovering a title
1,scorecard,the best lake scene,leader german sleaze inquiry,cheerio boyo,the main recommendations,has cubie killed fees,has cubie killed fees,has cubie killed fees,hopkins furious at foster s lack of hannibal...,has cubie killed fees,...,on the critical list,the timing of their lives,dear doctor,irish court halts ira man s extradition to nor...,burundi peace initiative fades after rebels re...,pe points the way forward to the ecb,campaigners keep up pressure on nazi war crime...,jane ratcliffe,yet more things you wouldn t know without the ...,millennium bug fails to bite

now we can put all these sentences in a paragraph

In [15]:
' '.join(str(x) for x in train_feature.iloc[0,0:25])

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title'

but we need to perform on all rows

In [16]:
headlines = []
for i in range(0,len(train_feature.index)):
    headlines.append(' '.join(str(x) for x in train_feature.iloc[i,0:25]))

In [17]:
#headlines

### now we can apply bag of words

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [68]:
cv= CountVectorizer(ngram_range=(1,3),analyzer='word')
train_data_set= cv.fit_transform(headlines)

In [69]:
#print(train_data_set)

#### now we can apply algorithm and predict here we are applying random forest

In [70]:
rc= RandomForestClassifier(n_estimators=200)
rc.fit(train_data_set,train_data['Label'])

RandomForestClassifier(n_estimators=200)

#### now look at test data and perform all preparation that we performed on train data

In [61]:
## index of test_data start from 2337 so we are resetting index 
test_data = test_data.reset_index()
test_data = test_data.drop(columns="index")

In [62]:
test_feature= test_data.iloc[:,2:27]
test_feature.replace("[^a-zA-Z]"," ",regex=True, inplace=True)
for i in test_feature.columns:   
    test_feature[i]=test_feature[i].str.lower()

C:\Users\HP\miniconda3\lib\site-packages\pandas\core\frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-62-235a4262be12>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_feature[i]=test_feature[i].str.lower()

In [63]:
test_headlines = []
for i in range(0,len(test_feature.index)):
    test_headlines.append(' '.join(str(x) for x in test_feature.iloc[i,0:25]))

In [64]:
test_data_set = cv.transform(test_headlines)
predictions = rc.predict(test_data_set)

In [56]:
#print(tain_data_set)
#print(predictions)

#### now it's time to check our model accuracy

In [65]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [66]:
matrix=confusion_matrix(test_data['Label'],predictions)
print(matrix)
report= classification_report(test_data['Label'],predictions)
print(report)
score= accuracy_score(test_data['Label'],predictions)
print(score)

[[ 23 163]
 [ 29 163]]
              precision    recall  f1-score   support

           0       0.44      0.12      0.19       186
           1       0.50      0.85      0.63       192

    accuracy                           0.49       378
   macro avg       0.47      0.49      0.41       378
weighted avg       0.47      0.49      0.41       378

0.49206349206349204

In [257]:
print(score)

0.5052910052910053